.layout {
  width: 100%;
  position: relative;

  @include respond(tab-land) {
    padding: 6rem 10rem 0 10rem;
  }

  @include respond(big-desktop) {
    padding: 6rem 20rem 0 20rem;
  }

  &__header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
    padding: 2.25rem 0;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15;

    @include respond(tab-land) {
      position: relative;
      padding: 0;
      height: 6vh;
    }

    &--desktop {
      display: none;

      @include respond(tab-land) {
        display: block;
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
      }

      &-title {
        font-size: 2.6rem;
        text-align: center;
        cursor: pointer;
      }
    }

    &--title {
      font-size: 2.6rem;
      flex: 1;
      text-align: center;

      @include respond(tab-land) {
        flex: none;
        display: none;
      }
    }

    &--btn {
      width: 15%;
      text-align: center;

      @include respond(tab-land) {
        display: none;
      }

      & button {
        background: none;
      }

      &-line {
        height: 0.35rem;
        width: 4rem;
        background: black;
        position: relative;

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          height: 100%;
          width: 3.35rem;
          background: black;
        }

        &::before {
          top: -0.75rem;
        }

        &::after {
          top: 0.75rem;
        }
      }

      &-nav {
        border: none;
      }

      &-user {
        border: 2px solid black;
        height: 5.15rem;
        width: 5.15rem;
        border-radius: 10rem;

        & i {
          font-size: 2rem;
        }
      }

      &-search {
        height: 4.25rem;
        width: 4.25rem;
        border: none;
        color: #000;

        & i {
          font-size: 2.5rem;
        }
      }
    }
  }

  &__main {
    width: 100%;
  }

  &__footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgb(231, 231, 231);
    font-size: 1.4rem;
    line-height: 1.2;
    padding: 1.5rem 2rem;
    text-align: center;
  }
}
