.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
}

.loading-spinner {
  font-size: 7.25rem;
  color: rgb(85, 85, 85);
  transform: translate(-50%, -50%);
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  width: 100%;
  padding: 3rem 0;

  &__places {
    height: 20vh;
  }

  &__place {
    height: 80vh;
    width: 100%;
    top: 0;
    left: 0;
  }

  &__spinner {
    position: relative;
  }
}
