.map {
  &__container {
    margin-top: 5rem !important;
    position: relative;

    &--loading {
      z-index: -1;
    }
  }

  &__frame {
    width: 100%;
    height: 37.5vh;
    border: none;

    @include respond(tab-land) {
      height: 65vh;
    }
  }
}
