.reviews {
  margin-top: 2rem !important;
  position: absolute;
  width: 100vw;
  left: 0;
  padding: 0 2rem 2rem 2rem;
  background: rgb(236, 236, 236);

  &__heading {
    display: flex;
    padding: 3rem 0 2rem 0;
    justify-content: space-between;
    align-items: center;

    & h3 {
      font-size: 2.2rem;
      letter-spacing: 0.1rem;
    }

    & i {
      font-size: 3rem;
    }
  }

  & ul {
    list-style-type: none;
  }

  & li {
    border-radius: 5px;
    margin: 2rem 0;
    padding: 1.5rem;
    background: rgb(216, 216, 216);
  }

  &__name {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1.25rem;
    color: rgb(48, 48, 121);
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4;
  }

  &__empty {
    margin-top: 1.5rem;
    font-size: 2rem;
  }

  &__create {
    padding: 10rem 3rem 6rem 3rem;
    background: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 30;

    &--location {
      padding-bottom: 4rem;
    }

    & p {
      font-size: 2.2rem;
      font-weight: 500;

      & span {
        font-weight: 700;
      }
    }

    & form {
      width: 100%;
      display: flex;
      flex-direction: column;

      & input,
      & textarea {
        margin-bottom: 2rem;
        padding: 1.25rem;
        border: 1px solid #999;
        font-size: 2rem;
        border-radius: 5px;
      }

      & textarea {
        resize: none;
        font-family: sans-serif;
      }

      & button {
        margin-top: 2rem;
        text-align: center;
        padding: 1.75rem 0;
        width: 100%;
        border-radius: 50rem;
        border: none;
        background: #000;
        color: #fff;
        font-size: 1.8rem;
      }
    }

    &--close {
      position: absolute;
      top: 3rem;
      font-size: 3rem;
    }
  }
}
