.reviews {
  margin-top: 4rem !important;
  margin-bottom: 0 !important;
  width: 100%;
  left: 0;
  padding: 0 3rem 2rem 3rem;
  background: rgb(236, 236, 236);

  @include respond(tab-land) {
    width: 75%;
    margin-bottom: 1.5rem !important;
  }

  &__heading {
    display: flex;
    padding: 3rem 0 2rem 0;
    justify-content: space-between;
    align-items: center;

    & h3 {
      font-size: 2.2rem;
      letter-spacing: 0.1rem;
    }

    & i {
      font-size: 3rem;
      cursor: pointer;
    }
  }

  & ul {
    list-style-type: none;
  }

  & li {
    border-radius: 5px;
    margin: 2rem 0;
    padding: 1.5rem;
    background: rgb(216, 216, 216);
  }

  &__name {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1.25rem;
    color: rgb(48, 48, 121);
  }

  &__text {
    max-height: 15rem;
    overflow: hidden;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4;

    &--extended {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.4;
    }
  }

  &__see-more {
    margin-top: 0.75rem;
    font-weight: 700;
    font-size: 1.6rem;
  }

  &__empty {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
  }

  &__created {
    & > * {
      &:not(:last-child) {
        margin-bottom: 0.35rem;
      }
    }
  }

  &__create {
    padding: 10rem 3rem 6rem 3rem;
    background: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;

    &-main {
      @include respond(tab-land) {
        background: rgb(242, 242, 242);
        width: 30%;
        margin: 0 auto;
        padding: 3rem;
        border-radius: 1.5rem;
      }
    }

    &--location {
      padding-bottom: 4rem;
    }

    & p {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 1.2;

      & span {
        font-weight: 700;
      }
    }

    & form {
      width: 100%;
      display: flex;
      flex-direction: column;

      & input,
      & textarea {
        margin-bottom: 2rem;
        padding: 1.25rem;
        border: 1px solid #999;
        font-size: 2rem;
        border-radius: 5px;

        @include respond(tab-land) {
          font-size: 1.6rem;
        }
      }

      & textarea {
        resize: none;
        font-family: sans-serif;
      }

      & button {
        margin-top: 2rem;
        text-align: center;
        padding: 1.75rem 0;
        width: 100%;
        border-radius: 50rem;
        border: none;
        background: #000;
        color: #fff;
        font-size: 1.8rem;
        cursor: pointer;
      }
    }

    &--close {
      position: absolute;
      top: 3rem;
      font-size: 3rem;

      @include respond(tab-land) {
        font-size: 2.4rem;
        cursor: pointer;
      }
    }
  }
}
