.search {
  position: fixed;
  top: 8rem;
  left: 0;
  min-height: 100%;
  width: 100vw;
  background: white;
  padding-top: 3rem;
  z-index: 15;

  @include respond(tab-land) {
    position: absolute;
    top: 3rem;
    width: 100%;
    z-index: -1;
    padding-top: 6rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }

  &__list {
    width: 90%;
    margin: 0 auto;
    list-style-type: none;

    &-msg {
      font-size: 2rem;
      padding-bottom: 2rem;
      font-weight: bold;
      color: #7c7c7c;
    }

    &--item {
      display: flex;
      align-items: center;
      padding: 2rem 0;

      &-pin {
        border: 2px solid #a8a8a8;
        height: 5rem;
        width: 5rem;
        border-radius: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 100;

        & i {
          font-size: 2.25rem;
        }
      }

      &:not(:last-child) {
        border-bottom: 2px solid #a8a8a8;
      }

      &-info {
        margin-left: 1.25rem;
        line-height: 1.15;

        &-city {
          font-size: 1.8rem;
          font-weight: bold;
        }

        &-state {
          font-size: 1.4rem;
        }
      }
    }
  }
}
