.auth {
  padding: 15rem 3rem 0 3rem;

  &__div {
    padding: 3rem 0;

    &-title {
      font-size: 3.6rem;
      font-weight: 700;
    }

    &-button {
      text-align: center;
      padding: 1.75rem 0;
      width: 100%;
      border-radius: 50rem;
      border: none;
      background: #000;
      color: #fff;
      font-size: 1.8rem;
    }

    &-type {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & div {
        height: 0.18rem;
        flex: 1;
        background: rgb(167, 167, 167);
      }

      & p {
        font-size: 1.6rem;
        padding: 0 1.5rem;
      }
    }

    &-select {
      font-size: 1.8rem;
      padding-top: 2.5rem;
      text-align: center;

      & span {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }

  &__form {
    &-input {
      display: flex;
      flex-direction: column;
      padding: 1.25rem 0;

      &--password {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #999;

        & i {
          font-size: 2.2rem;
          padding-right: 1.5rem;
        }

        & input {
          border: none !important;
        }
      }

      & label {
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 1rem;
      }

      & input {
        width: 100%;
        padding: 1.5rem;
        font-size: 2rem;
        border: 2px solid #999;
        outline: none;
      }
    }
  }

  &__loader {
    backdrop-filter: blur(0.6rem);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 40;

    & i {
      color: #fff;
    }
  }

  &__msg {
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    padding: 2.5rem 1rem;

    &-error {
      background: rgba($color: red, $alpha: 0.25);
      border: 1.5px solid rgba($color: red, $alpha: 0.75);
    }

    &-success {
      background: rgba($color: green, $alpha: 0.25);
      border: 1.5px solid rgba($color: green, $alpha: 0.75);
    }

    & p {
      font-size: 1.6rem;
      font-weight: bold;
    }
  }

  &__forgot {
    padding-top: 1.5rem;

    & p {
      font-size: 1.8rem;
      padding-bottom: 0.35rem;
      border-bottom: 1px solid black;
      display: inline-block;
    }
  }
}
