.destinations {
  padding: 8rem 0 6rem 0;

  &__section {
    @include respond(phone) {
      padding-left: 2rem;
    }

    &--city {
      font-size: 3.2rem;
      color: red;

      @include respond(phone) {
        padding-left: 2rem;
      }

      & span {
        color: black;
      }
    }

    &--list {
      list-style-type: none;
      padding-top: 3rem;
    }
  }
}
