.home {
  padding-top: 15rem;

  &__attention {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/search.jpeg");
    background-size: cover;
    background-position: center;

    &--form {
      display: inline-block;
      width: 80%;
      border-radius: 10rem;
      display: flex;
      overflow: hidden;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background: #fff;

      & input {
        flex: 1;
        height: 7.5rem;
        font-size: 2rem;
        padding-left: 0.25rem;
        border: none;

        &:focus {
          outline: none;
        }
      }

      &-btn {
        width: 15%;
        background: none;
        border: none;

        & i {
          font-size: 2.5rem;
          color: #676767;
        }
      }
    }
  }

  &__places-section {
    padding: 6rem 0 0 2rem;
  }
}

.in-search {
  position: fixed;
  top: 0;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  z-index: 25;
  border-bottom: 2px solid black;
  flex-direction: row-reverse;
}

.search-open {
  display: block;
}

.search-close {
  display: none;
}
