.home {
  padding-top: 5rem;

  @include respond(tab-land) {
    padding-top: 1rem;
  }

  &__attention {
    height: 70vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/search.jpeg");
    background-size: cover;
    background-position: center;

    @include respond(tab-land) {
      background-position: top;
    }

    &--form {
      display: inline-block;
      width: 80%;
      border-radius: 10rem;
      display: flex;
      overflow: hidden;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background: #fff;

      @include respond(tab-land) {
        width: 50%;
      }

      &-backdrop {
        display: none;

        @include respond(tab-land) {
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          height: 100vh;
          width: 100vw;
          background: rgba(0, 0, 0, 0.4);
          z-index: 20;
          backdrop-filter: blur(0.25rem);
        }
      }

      & input {
        flex: 1;
        height: 6.5rem;
        font-size: 2rem;
        padding-left: 0.25rem;
        border: none;

        @include respond(tab-land) {
          height: 6rem;
          padding-left: 0;
        }

        &:focus {
          outline: none;
        }
      }

      &-btn {
        width: 15%;
        background: none;
        border: none;
        cursor: pointer;

        @include respond(tab-land) {
          width: 12.5%;
        }

        & i {
          font-size: 2.5rem;
          color: #676767;

          @include respond(tab-land) {
            font-size: 2.25rem;
          }
        }
      }
    }
  }

  &__places-section {
    padding: 6rem 0 4rem 2rem;

    @include respond(tab-land) {
      padding: 6rem 0 4rem 0;
    }
  }
}

.in-search {
  position: fixed;
  top: 0;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  z-index: 25;
  border-bottom: 2px solid black;
  flex-direction: row-reverse;
  z-index: 40;
  margin: 0 !important;

  @include respond(tab-land) {
    position: relative;
    width: 50%;
    border-radius: 10rem;
    border: none;
    overflow: visible;
  }
}

.search-open {
  display: block;
}

.search-close {
  display: none;
}
