.place {
  padding-top: 3rem;
  font-size: 1.5rem;
  width: 100%;

  @include respond(tab-land) {
    padding-top: 0;
  }

  &__desktop {
    width: 100%;

    &-container {
      @include respond(tab-land) {
        display: flex;
        justify-content: space-between;
      }
    }

    &-main {
      @include respond(tab-land) {
        width: 37.5%;
        background: rgb(235, 235, 235);
        border-radius: 5px;
      }
    }
  }

  & > * {
    margin: 1.5rem 0;
  }

  &__main {
    padding: 0 2rem;

    & > * {
      margin: 2.5rem 0;
    }

    & h1 {
      font-size: 3rem;
      color: rgb(50, 50, 50);
      padding-bottom: 1.75rem;
      line-height: 1.2;
    }

    &-open {
      font-weight: bold;
    }

    &-hours {
      padding-top: 0.5rem;
    }

    &-info {
      display: flex;
      align-items: center;

      & i {
        color: rgb(255, 98, 98);
        font-size: 1.8rem;
        margin-right: 1rem;
      }

      & p {
        font-weight: bold;
      }
    }

    &-ratings {
      display: flex;
    }

    &-description {
      margin-top: 3rem;
      font-size: 1.8rem;
      line-height: 1.4;

      @include respond(tab-land) {
        width: 65%;
      }

      &--heading {
        font-size: 2.4rem;
        font-weight: bold;
        padding-bottom: 0.75rem;
      }
    }

    &-website {
      margin-top: 5rem;
      cursor: pointer;
      width: min-content;

      & a {
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: max-content;
        border: none;
        background: rgb(209, 209, 209);
        border-radius: 20rem;

        &:link,
        &:visited,
        &:active {
          color: #000;
          text-decoration: none;
        }

        & i {
          font-size: 2.6rem;
          margin-right: 1.35rem;
        }

        & p {
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }

    &-tag {
      margin-top: -1.25rem;
    }
  }

  &__img {
    height: 35rem;
    overflow: hidden;
    position: relative;

    @include respond(tab-land) {
      width: 60%;
      height: 45rem;
    }

    &-arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      display: flex;
      padding: 0 1rem;
      justify-content: space-between;
      transform: translate(-50%, -50%);
      z-index: 5;
    }

    &-left,
    &-right {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.35);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: #fff;
      cursor: pointer;
    }

    &-amount {
      position: absolute;
      bottom: 5%;
      left: 2.5%;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem 1.5rem;
      border-radius: 10rem;
      width: max-content;
      background: #000;
      color: #fff;
      z-index: 5;

      & i {
        font-size: 2rem;
        margin-right: 1rem;
      }

      & p {
        font-size: 1.8rem;
      }
    }

    &-container {
      height: 35rem;
      display: flex;

      & img {
        height: 100%;
        min-width: 100%;
        object-fit: cover;

        @include respond(tab-land) {
          height: 45rem;
        }
      }
    }
  }
}
