.places {
  padding-top: 15rem;

  &__title {
    font-size: 3.6rem;
    width: 95%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.2;

    & span {
      color: red;
      display: block;
    }
  }

  &__section {
    margin-top: 8rem;

    &--amount {
      font-size: 1.6rem;
      font-weight: 500;
      padding: 0 0 2.5rem 1rem;
    }
  }

  &__list-item {
    width: 100%;
    margin-bottom: 3.5rem;

    &--img-container {
      height: 25rem;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &--info {
      padding: 1rem 2.25rem;
      max-height: 25rem;

      & p {
        padding: 0.5rem 0;
        font-size: 1.4rem;
      }

      &-title {
        font-weight: 600;
        font-size: 2rem !important;
      }

      &-desc {
        overflow: hidden;
      }

      &-ratings {
        display: flex;
        align-items: center;

        &-rating {
          font-weight: bold;
        }

        & p:not(:last-child) {
          margin-right: 0.75rem;
        }
      }
    }
  }
}
